/* .deshboardContainer{
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: rgb(172, 162, 226)
}


.right-panel{
    width: 40%;
    height: 100%;
    border: 1px solid black;
}

.visits-panel{
    width: 100%;
    height: 50%;
    border: 1px solid black;
}


.left-panel{
    display: flex;
    justify-content: center;
    width: 60%;
    height: 100%;
    border: 1px solid black;
} */



.dashboardContainer {
  display: flex;
  width: 100%;
  min-height: 100vh;
    background-image: url('../../img/screenDashboard.jpg'); 
}

/* .leftPanel {
  height: 100%;
  padding: 16px;
  
}

.rightPanel {
  height: 100%;
  padding: 16px;
}

.visitsPanel {
  height: 100%; 
}
 */